body{
	color: "blue";
	background-color: #59788E; }
form{
	height: 500px;	
	margin: 10px 300px;
	text-align:center;
	border-with: medium;
	border-style: solid;
	border-color: white;
	background-color: #2C3E4C;}
h1{
	color: black;
	font-size: xx-large;}
h2{
	color: grey;
	font-size: medium;}
input.submit{
	font-size: small;
	color: white;
	width: 200px;
	height: 50px;
	background: #1F456E;}
	

		